<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SachinApp</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
          <br> <br> <br>
        <h3 align="center">Welcome. Here you can save your data and get it back too.</h3>
        <br><br><br>
        <form action="/get" method="get">
          <input type="submit" class="ghost-button" value="Get Data">
        </form>
        <br> <br> <br>
        <form action="/post" method="get">
            <input type="submit" class="ghost-button" value="Save Data">
          </form>
      </fieldset>
    </div>
  </body>
</html>