<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SachinApp</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <h2 align="center">Type Username and get back your data !</h2>
        <br>
        <form action="/get" method="post">
          <input name="userName" type="text" class="ghost-input" placeholder="Enter User Name ..." required>
          <input type="submit" class="ghost-button" value="Get Data">
        </form>
        <br>
        <% if(data !== null){ %>
          <pre><p><%= data %></p></pre>
        <% } %>
        <br><br><br>
        <form action="/post" method="get">
            <input type="submit" class="ghost-button" value="Goto To POST">
          </form>
      </fieldset>
    </div>
  </body>
</html>