<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SachinApp</title>
  </head>
  <body>
        <% if(data !== null){ %>
          <pre><p><%= data %></p></pre>
        <% } %>
  </body>
</html>