<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SachinApp</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <h2 align="center">Authentication Using Gmail Support !</h2>
        <br>
        <form action="/oauth_log_in" method="post">
          <input type="submit" class="ghost-button" value="Login Via Google">
        </form>
        <br>
        <% if(output !== null){ %>
          <pre><p><%= output %></p></pre>
        <% } %>
        <br><br>
        <form action="/oauth_log_out" method="post">
            <input type="submit" class="ghost-button" value="Log Out">
          </form>
          <br><br>
        <form action="/log_in" method="get">
            <input type="submit" class="ghost-button" value="Re Login">
          </form>
      </fieldset>
    </div>
  </body>
</html>